<section id="contact-section">
  <div class="container">
  <br>
       <h2>Contact Us</h2>
     <p>Please write to us if you have any queries</p>
    <div class="contact-form">        
      <div>
        <i class="fa fa-phone" > </i><span class="form-info">0011223344</span><br>
        <i class="fa fa-envelope"></i><span class="form-info">ivkonnect@gmail.com</span>
      </div>
  <div>        
    <form>
      <input type="text" class="form-control" placeholder=" Name" required ngModel><br>
      <input type="Email" class="form-control" placeholder="Email" required ngModel><br>
      <input type="text" class="form-control" placeholder="Subject of this message" ngModel><br>
      <textarea name="message" class="form-control" placeholder="Message" rows="5" required ngModel></textarea><br>
      <button class="submit text-white" mat-button  type="submit" class="text-body" ngModel>Send Message</button> 
    </form>   
      </div>
    </div>
  </div>
</section>