<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron">
    <h1>Our Products</h1>
    <br>
    <div class="row">
        <div class="col-4">
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
        </div>
        <div class="col-4">
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
        </div>
        <div class="col-4">
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
            <a class="list-group-item list-group-item-action flex-column stretched-link" href="#list-profile" >
            <h4 >
                <img src="../../../assets/parallax.jpg" alt="Avatar" class="avatar"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Product1
                </h4></a>
            <br>
        </div>
    </div>
</div>
<app-footer></app-footer>