h1,.card-body{
    text-align: center;
}
.card-deck{
    padding-left: 6rem;
    padding-right: 6rem;
}
.content {
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; 
  }