<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="parallax">
    <br><br><br>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <video class="card-img-top" controls loop>
                <source src="../../../assets/movie.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video>
            <br><br>
        <p class="card-text">Let us go forward in this battle fortified by conviction that those who labour in the service of a great and good cause will never fail.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h1 class="card-title">About US</h1>
        <hr>
        <p style="font-size: large;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Mauris eros dolor pellentesque sed luctus dapibus lobortis orci</p>
        <p style="font-size: small;"> Curabitur in lacinia justo. In accumsan pharetra lorem et rutrum. Duis non nulla dui. Pellentesque mollis lacinia fringilla. Nunc euismod faucibus tellus, eu laoreet mi tincidunt a. Curabitur dignissim vehicula enim non placerat. Vestibulum ante ipsum primis in faucibus orci luctus et.</p>
        <br><br>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Take a Tour</a>
        </div>
    </div>
</div>
</div><app-footer></app-footer>
<!-- <div class="row">
    <div class="container">
        <div class="video-size">
                <video controls loop>
                    <source src="../../../assets/movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                <br><br>
                <p>Let us go forward in this battle fortified by conviction that those who labour in the service of a great and good cause will never fail.</p>
        </div>
        <div class="video-size">
            <h1>About Us</h1>
        </div>
    </div>
</div> -->