<div class="jumbotron">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3" id="add">

        <!-- Content -->
        <h5 class="text-uppercase">Address List</h5>
        <pre>123, Any Street North
Your City Name
Country Name. P.O 3554
+1 234 567 8902
contact@yoursite.com
help@yoursite.com</pre>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Social Networks</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">facebook</a>
          </li>
          <li>
            <a href="#!">instagram</a>
          </li>
          <li>
            <a href="#!">twitter</a>
          </li>
          <li>
            <a href="#!">snapchat</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Quick Reference</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="solutions">Solutions</a>
          </li>
          <li>
            <a href="fag">FAQs</a>
          </li>
          <li>
            <a href="products">Products</a>
          </li>
          <li>
            <a href="about">About Us</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="/"> IVKonnect</a>
  </div>
  <!-- Copyright -->

<!-- Footer -->

</div>