<div class="jumbotron">
    <div class="count">
        <ngx-counter [limit]=100 size="big" speed=[10] color="black" theme="white" ></ngx-counter>
    </div>
    <div class="count">
        <ngx-counter [limit]=100 size="big" speed=[0.2] color="black" theme="white" ></ngx-counter>
    </div>
    <div class="count">
        <ngx-counter [limit]=100 size="big" speed=[0.2] color="black" theme="white" ></ngx-counter>
    </div>
    <div class="count">
        <ngx-counter [limit]=100 size="big" speed=[0.1] color="black" theme="white" ></ngx-counter>
    </div>
</div>