<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<br>
<div class="grey-bg c-no container-fluid">
    <br>
    <div class="card-deck">
            <div class="col-sm-3 counter-Txt"><ngx-counter [limit]=100 size="medium" speed=[10] color="black" theme="white" bgcolor="white" ></ngx-counter>K<br>Completed Projects</div>
            <div class="col-sm-3 counter-Txt">+<ngx-counter [limit]=100 size="medium" speed=[50] color="black" theme="white" bgcolor="white" ></ngx-counter><br>Worldwide Client</div>
            <div class="col-sm-3 counter-Txt"><ngx-counter [limit]=100 size="medium" speed=[1000] color="black" theme="white" bgcolor="white" ></ngx-counter><br>Experience Worker</div>
            <div class="col-sm-3 counter-Txt"><ngx-counter [limit]=100 size="medium" speed=[20] color="black" theme="white" bgcolor="white" ></ngx-counter><br>Total Awards</div>
    </div>
</div>
<br>
<br>