<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron">
        <p style="text-align: center;color: gold;">NEED HELP?</p>
        <br>
        <h1 style="text-align: center;">FAQs</h1>
        <hr class="solid">
        <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p style="text-align: center;">Mauris eros dolor pellentesque sed luctus dapibus lobortis orci.</p>
    <br>
<app-fagcollapse></app-fagcollapse>
    </div>
<app-footer></app-footer>