<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card-deck">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed stretched-link" (click)="isCollapsed = !isCollapsed; isCollapsed3=true; isCollapsed1=true; isCollapsed2=true"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
      <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
        <div class="card-body">
          This is the answer to the FAQ you asked for. How about another question?  
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed stretched-link" (click)="isCollapsed = !isCollapsed; isCollapsed3=true; isCollapsed1=true; isCollapsed2=true"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseOne">
              Collapsible Group Item #1
            </button>
          </h5>
        </div>
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
          <div class="card-body">
            This is the answer to the FAQ you asked for. How about another question?  
          </div>
        </div>
      </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link stretched-link" (click)="isCollapsed1 = !isCollapsed1; isCollapsed=true; isCollapsed3=true; isCollapsed2=true"
          [attr.aria-expanded]="isCollapsed1" aria-controls="collapseTwo">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
      <div id="collapseBasic" [collapse]="isCollapsed1" [isAnimated]="true">
        <div class="card-body">
          This is the answer to the FAQ you asked for. How about another question?  
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link stretched-link" (click)="isCollapsed1 = !isCollapsed1; isCollapsed=true; isCollapsed3=true; isCollapsed2=true"
            [attr.aria-expanded]="isCollapsed1" aria-controls="collapseTwo">
              Collapsible Group Item #1
            </button>
          </h5>
        </div>
    
        <div id="collapseBasic" [collapse]="isCollapsed1" [isAnimated]="true">
          <div class="card-body">
            This is the answer to the FAQ you asked for. How about another question?  
          </div>
        </div>
      </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link stretched-link" (click)="isCollapsed2 = !isCollapsed2; isCollapsed=true; isCollapsed1=true; isCollapsed3=true"
          [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
  
      <div id="collapseBasic" [collapse]="isCollapsed2" [isAnimated]="true">
        <div class="card-body">
          This is the answer to the FAQ you asked for. How about another question?  
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link stretched-link" (click)="isCollapsed2 = !isCollapsed2; isCollapsed=true; isCollapsed1=true; isCollapsed3=true"
            [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic">
              Collapsible Group Item #1
            </button>
          </h5>
        </div>
    
        <div id="collapseBasic" [collapse]="isCollapsed2" [isAnimated]="true">
          <div class="card-body">
            This is the answer to the FAQ you asked for. How about another question?  
          </div>
        </div>
      </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link stretched-link" (click)="isCollapsed3 = !isCollapsed3 ; isCollapsed=true; isCollapsed1=true; isCollapsed2=true"
          [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
  
      <div id="collapseBasic" [collapse]="isCollapsed3" [isAnimated]="true">
        <div class="card-body">
          This is the answer to the FAQ you asked for. How about another question?  
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link stretched-link" (click)="isCollapsed3 = !isCollapsed3; isCollapsed=true; isCollapsed1=true; isCollapsed2=true;"
            [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic">
              Collapsible Group Item #1
            </button>
          </h5>
        </div>
    
        <div id="collapseBasic" [collapse]="isCollapsed3" [isAnimated]="true">
          <div class="card-body">
            This is the answer to the FAQ you asked for. How about another question?  
          </div>
        </div>
      </div>
  </div>