<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>
    Expert Team
</h1>
<br>
<br>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/Chris Marison.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Chris Marison</h5>
        <p class="card-text">These days are all share them with me baby said inspect California till the one day.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/Adam Smith.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Adam Smith</h5>
        <p class="card-text">These days are all share them with me baby said inspect California till the one day.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/Robert William.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Robert William</h5>
        <p class="card-text">These days are all share them with me baby said inspect California till the one day.</p>
      </div>
    </div>
  </div>