h1{
    text-align: center;
    font-family: fantasy;
}
.card-title{
    overflow: hidden;
    white-space: nowrap;
}
.card-img-overlay{
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.card{
    overflow: hidden; /* Animation */
    transition: all 0.5s;
}
.card:hover{
    transform: scale(1.2);
}
.card-deck{
        margin-left: 2rem;
        margin-right: 2rem;
}