<h1>SECTORS</h1>
<div class="card-deck">
  <div class="card bg-dark text-white">
    <img class="card-img" src="../../../assets/parallax.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Engineering</h5>
      <br>
      <button type="button" class="btn btn-outline-info">Learn More</button>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <img class="card-img" src="../../../assets/parallax.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Agriculture</h5>
      <br>
      <button type="button" class="btn btn-outline-info">Learn More</button>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <img class="card-img" src="../../../assets/parallax.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Energy</h5>
      <br>
      <button type="button" class="btn btn-outline-info">Learn More</button>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <img class="card-img" src="../../../assets/parallax.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Water</h5>
      <br>
      <button type="button" class="btn btn-outline-info">Learn More</button>
    </div>
  </div>
</div>