<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-parallax2></app-parallax2>
<br><br>
<div class="card-group">
    <div class="card">
        <div class="card-body">
        <p style="font-size: large;">Recent case study<p>
        <h1 class="card-title">We work alongside national and international firms</h1>
        <hr>
        <p style="font-size: large;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Mauris eros dolor pellentesque sed luctus dapibus lobortis orci</p>
        <br><br>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
        know more</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <video class="card-img-top" controls loop>
                <source src="../../../assets/movie.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video>
            <br><br>
        <p class="card-text">Let us go forward in this battle fortified by conviction that those who labour in the service of a great and good cause will never fail.</p>
        </div>
    </div>
</div>
<br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<br>
<div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Diverse Approach</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Professional Team</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Expert Advice</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Result Based</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
  </div>
<br><br>
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>

    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
</div>
<app-footer></app-footer>