.video-size{
    /* width: 100%; */
    object-fit: cover;
    height: 100%;
    z-index: -100;
    
    float: left;
    width: 50%;
    /* padding-left: 10%;
    padding-right: 1%; */
}
.video-size > video {
    min-width:68%;
    min-height: 100%;
}
.card{
    /* background-color: cadetblue; */
}
.card-text{
    text-align: center;
    font-style: oblique;
}
.about{
    float: right;
}
.container{
    display: flex;
}
.card-group{
    padding-left: 10%;
    padding-right: 10%;
}
h1,.card-body{
    text-align: center;
}
.card-deck{
    padding-left: 6rem;
    padding-right: 6rem;
}
h1,.card-body{
    text-align: center;
}
.card-columns{
    padding-left: 6rem;
    padding-right: 6rem;
}