<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Types of Solutions</h1>
<br>
<div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>

    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/parallax.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title that wraps to a new line</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">READ MORE</a>
        </div>
      </div>  
  </div>